{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": ["^react$", "^@xstate/(.*)$", "^xstate$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
